<%= form_for [current_event, @slot] do |f| %>
  <% if @slot.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @slot.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :location %>
  <%= f.select :location_id, 
    Location.where(event_id: current_event.id).collect {|l| [ l.name, l.id ] } %>
  <%= f.label :session %>
  <%= f.select :session_id, 
    Session.where(event_id: current_event.id).collect {|l| [ l.title, l.id ] }, {:include_blank => 'Sin asignar'} %>
  
  <fieldset class="ui-grid-a">
      <div class="ui-block-a"><%= f.submit 'Guardar', 'data-theme'=>'b' %></div>
      <div class="ui-block-b"><%= link_to 'Cancelar', event_agenda_path(current_event, session[:agenda_id]), 'data-role'=>'button' %></div>
  </fieldset>
<% end %>