<%= content_for :header do %>
  <%= link_to "", event_agenda_index_path(current_event), 'data-icon'=> 'back', 'data-iconpos'=>'notext' %>
  <h1>Slot</h1>
  <%= link_to "Asignar", edit_event_slot_path(current_event, @slot) if can? :edit, Slot %>
<% end %>

<h2><%= @slot.agenda.title %></h2>
<p>
  Hora: <%= @slot.agenda.starts_ends %><br />
  Ubicación: <%= @slot.location.name %>
</p>

<% unless @slot.session.nil? %>
  <h3><%= @slot.session.title %></h3>
  <p>
    Propuesta por: <%= @slot.session.proposed_by %><br />
    Tipo de sesión: <%= @slot.session.session_type.capitalize %>
  </p>
  <p><%= @slot.session.description %></p>
<% end %>