<%= form_for(@session) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title, 'Título' %>
  <%= f.text_field :title %>
  <%= f.label :description, 'Descripción' %>
  <%= f.text_field :description %>
  <%= link_to 'Cancelar', :back, 'data-role'=>'button', 'data-inline'=>'true' %>
  <%= f.submit 'Proponer sesión', 'data-inline'=>'true', 'data-theme'=>'b' %>
  <% end %>
