<%= form_for(@session) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %><%= f.text_field :title, :class => 'required', :placeholder => 'Título de la sesión' %>
  <%= f.label :proposed_by %><%= f.text_field :proposed_by, :placeholder => 'Nombre de la persona que propone la sesión' %>
  <%= f.label :session_type %><%= f.select(:session_type, Session::SESSION_TYPES) %>
  <%= f.label :description %><%= f.text_area :description, :placeholder => 'Descripción de la sesión' %>
  
  <fieldset class="ui-grid-a">
  		<div class="ui-block-a"><%= link_to 'Cancelar', sessions_path, 'data-role'=>'button', 'data-icon'=>'delete' %></div>
  		<div class="ui-block-b"><%= f.submit 'Proponer', 'data-icon'=>'check', 'data-theme'=>'b' %></div>
  </fieldset>
  
<% end %>
