<p>
  <b>Título:</b>
  <%= @session.title %>
</p>
<p>
  <b>Propuesto por:</b>
  <%= @session.proposed_by %>
</p>
<p>
  <b>Descripción:</b>
  <%= @session.description %>
</p>
<p>
  <b>Registrado por:</b>
  <%= twitter_link(@session.user.nickname) %>
</p>

<%= link_to 'Regresar', sessions_path, 'data-role'=>'button', 'data-inline'=>'true' %>
<%= link_to "Signin en Twitter para votar", "/auth/twitter", 'data-role'=> 'button', 'data-inline'=>'true', 
  'data-theme'=>'b', :rel => 'external' unless current_user %>
<%= link_to "Votar", {:controller => "voting", :action => "create", :id => @session.id}, 
  {'data-role'=> 'button', 'data-inline'=>'true', 'data-theme'=>'b'} if current_user %>

