<%= content_for :header do %>
  <%= link_to "", event_sessions_path(current_event), 'data-icon'=> 'back', 'data-iconpos'=>'notext' %>
  <h1>Sesión</h1>
  <%= link_to 'Editar', edit_event_session_path(current_event, @session), 'data-role'=>'button' if can? :manage, @session %>
<% end %>

<% if current_user %>
  <%= button_to "Votar por esta sesión", event_session_votes_path(current_event, @session), 
      'data-role'=>'button', 'data-theme'=>'b'  %>
<% end %>

<h1><%= @session.title %></h1>
<p>
  Propuesto por: <%= @session.proposed_by %><br />
  Tipo de sesión: <%= @session.session_type.capitalize %>
</p>
<p><%= @session.description %></p>