<%= content_for :header do %>
  <%= link_to "Sesiones", event_sessions_path(current_event), 'data-icon'=> 'back' %>
  <h1><%= @session.title %></h1>
  <%= link_to 'Editar', edit_event_session_path(current_event, @session), 'data-role'=>'button', 'data-icon'=>'gear' if can? :manage, @session %>
<% end %>  

<% if current_user %>
  <%= button_to "Votar por esta sesión", vote_event_session_path(current_event, @session), 'data-role'=>'button', 'data-theme'=>'b' unless current_user.voted? @session %>
  <%= button_to "No votar por esta sesión", unvote_event_session_path(current_event, @session), 'data-role'=>'button', 'data-theme'=>'a' if current_user.voted? @session %>
<% end %>

<ul data-role="listview" data-inset="true">  
  <li data-role="list-divider">Datos de la sesión</li>
  <li>
    <h3><%= @session.title %></h3>
    <p>Propuesta por: <%= @session.proposed_by %></p>
    <p>Tiene <%= pluralize(@session.up_votes, 'voto') %><% if current_user and current_user.voted? @session %><b>&nbsp;(has votado por esta sesión)</b><% end %></p>
    <p>Tipo de sesión: <%= @session.session_type.capitalize %></p>
    <p>Registrado por <%= twitter_link(@session.user.nickname) %></p>
  </li>

  <li data-role="list-divider">Descripción</li>
  <li><p><%= @session.description %></p></li>

</ul>