<%= content_for :header do %>
  <%= link_to "Sesiones", event_sessions_path(current_event), 'data-icon'=> 'back' %>
  <h1><%= @session.title %></h1>
<% end %>

<div data-role="controlgroup" data-type="horizontal" >  
  <%= link_to 'Editar', edit_event_session_path(current_event, @session), 'data-role'=>'button' if can? :edit, @session %>
  <%= link_to 'Eliminar', event_session_path(current_event, @session), 'data-role'=>'button', method: :delete, confirm: 'Are you sure?' if can? :delete, @session %>
  <%= link_to "Votar", {:controller => "voting", :action => "create", :id => @session.id}, 'data-role'=>'button' if current_user %>
</div>

<div data-role="collapsible" data-collapsed="false">
  <h3>Datos de la sesi贸n</h3>
  <p>Sesi贸n propuesta por <%= @session.proposed_by %>, tiene <%= pluralize(@session.up_votes, 'voto') %></p>
  <p>Tipo de sesi贸n: <%= @session.session_type.capitalize %></p>
  <p>Registrado por <%= twitter_link(@session.user.nickname) %></p>
</div>


<div data-role="collapsible" data-collapsed="false">
  <h3>Descripci贸n</h3>
  <p><%= @session.description %></p>
</div>



