<p>
  <b>Título:</b>
  <%= @session.title %>
</p>
<p>
  Sesión propuesta por <%= @session.proposed_by %>, tiene <%= pluralize(@session.up_votes, 'voto') %><br />
  Registrado por <%= twitter_link(@session.user.nickname) %>
</p>
<p>
  <b>Descripción:</b>
  <%= @session.description %>
</p>


<%= link_to 'Regresar', sessions_path, 'data-role'=>'button', 'data-inline'=>'true' %>
<%= link_to 'Eliminar', session_path(@session), method: :delete, 'data-role'=>'button', 'data-inline'=>'true', confirm: 'Are you sure?' if can? :delete, @session %>
<%= link_to "Signin en Twitter para votar", "/auth/twitter", 'data-role'=> 'button', 'data-inline'=>'true', 
  'data-theme'=>'b', :rel => 'external' unless current_user %>
<%= link_to "Votar", {:controller => "voting", :action => "create", :id => @session.id}, 
  {'data-role'=> 'button', 'data-inline'=>'true', 'data-theme'=>'b'} if current_user %>

