<%= content_for :header do %>
  <%= link_to "Sesiones", sessions_path, 'data-icon'=> 'back' %>
  <h1><%= @session.title %></h1>
<% end %>

<div data-role="controlgroup" data-type="horizontal" >  
  <%= link_to 'Editar', edit_session_path(@session), 'data-role'=>'button' if can? :edit, @session %>
  <%= link_to 'Eliminar', session_path(@session), 'data-role'=>'button', method: :delete, confirm: 'Are you sure?' if can? :delete, @session %>
  <%= link_to "Votar", {:controller => "voting", :action => "create", :id => @session.id}, 'data-role'=>'button' if current_user %>
</div>

<p>Sesión propuesta por <%= @session.proposed_by %>, tiene <%= pluralize(@session.up_votes, 'voto') %></p>
<p>Tipo de sesión: <%= @session.session_type.capitalize %></p>
<p>Descripción: <%= @session.description %></p>
<p>Registrado por <%= twitter_link(@session.user.nickname) %></p>