<%= content_for :header do %>
  <%= link_to "", users_path, 'data-icon'=> 'back', 'data-iconpos'=>'notext' %>
  <h1>Usuario</h1>
  <%= link_to "Editar", edit_user_path(@user) %>
<% end %>

Usuario: <%= @user.nickname %><br />
Rol: <%= @user.role %>