<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :name %><%= f.text_field :name, :placeholder => 'Nombre el evento' %>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Cuando</legend>
    <%= f.date_select :starting_at %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Hora inicio</legend>
    <%= f.time_select :starting_at %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Hora fin</legend>
    <%= f.time_select :ending_at %>
  </fieldset>
  <%= f.label :where %><%= f.text_field :where, :placeholder => 'Lugar del evento' %>
  <%= f.label :description %><%= f.text_area :description, :placeholder => 'Descripción del evento' %>
  <%= f.label :website %><%= f.text_field :website, :placeholder => 'Website del evento' %>
  <%= f.label :hashtag %><%= f.text_field :hashtag, :placeholder => 'Twitter Hashtag' %>
  <%= f.label :description %><%= f.text_area :description, :placeholder => 'Descripción del evento' %>

  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Ambientes</li>
      <% @event.locations.each do |location| %>
        <li><%= link_to location.name, edit_event_location_path(@event, location) %></li>
      <% end %>
  </ul>
  
  <fieldset class="ui-grid-a">
  		<div class="ui-block-a"><%= f.submit 'Guardar', 'data-icon'=>'check', 'data-theme'=>'b' %></div>
  		<div class="ui-block-b"><%= link_to 'Cancelar', event_path(current_event), 'data-role'=>'button', 'data-icon'=>'delete' %></div>
  </fieldset>
<% end %>