<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :name %><%= f.text_field :name, :placeholder => 'Nombre el evento' %>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Cuando</legend>
    <%= f.date_select :starting_at %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Hora inicio</legend>
    <%= f.time_select :starting_at %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Hora fin</legend>
    <%= f.time_select :ending_at %>
  </fieldset>
  <%= f.label :where %><%= f.text_field :where, :placeholder => 'Lugar del evento' %>
  <%= f.label :description %><%= f.text_area :description, :placeholder => 'Descripción del evento' %>
  
  <fieldset class="ui-grid-a">
  		<div class="ui-block-a"><%= link_to 'Cancelar', :back, 'data-role'=>'button', 'data-icon'=>'delete' %></div>
  		<div class="ui-block-b"><%= f.submit 'Guardar', 'data-icon'=>'check', 'data-theme'=>'b' %></div>
  </fieldset>
<% end %>
