<%= content_for :header do %>
  <%= link_to "Evento", menu_event_path(current_event), 'data-icon'=> 'back' %>
  <h1>Agenda</h1>
<% end %>

<ul data-role="listview">
  <% @event.agenda_details.each do |item| %>
    <li>
      <h3><%= item.starts.strftime('%H:%M') %> - <%= item.ends.strftime('%H:%M') %>: <%= item.title %></h3>
    </li>
  <% end %>
</ul>