<%= content_for :header do %>
  <%= link_to "Evento", menu_event_path(current_event), 'data-icon'=> 'back' %>
  <h1>Agenda</h1>
<% end %>

<ul data-role="listview">
  <% @agenda.each do |item| %>
    <li data-role="list-divider"><%= item.starts.strftime('%H:%M') %> - <%= item.ends.strftime('%H:%M') %></li>
    <li>
      <h3><%= item.title %></h3>
      <p>
        <% item.slots.each do |slot| %>
          <%= slot.location.name %>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>