<%= content_for :header do %>
  <%= link_to "Evento", menu_event_path(current_event), 'data-icon'=> 'back' %>
  <h1>Agenda</h1>
<% end %>

<ul data-role="listview">
  <% @event.time_slots.each do |slot| %>
    <li>
      <h3><%= slot.starts.strftime('%H:%M') %> - <%= slot.ends.strftime('%H:%M') %>: <%= slot.location.name %></h3>
      <p><%= slot.name %></p>
    </li>
  <% end %>
</ul>