<%= content_for :header do %>
  <%= link_to_home %>
  <h1>Evento</h1>
<% end %>

<ul data-role="listview" data-inset="true">
  <li data-role="list-divider"><%= current_event.name %></li>
  <li><%= link_to "Información del evento", event_path(current_event) %></li>
  <li><%= link_to "Agenda", event_agenda_index_path(current_event) %></li>
  <li><%= link_to "Sesiones", event_sessions_path(current_event) %></li>
</ul>


