<%= content_for :header do %>
  <%= link_to "Evento", menu_event_path(current_event), 'data-icon'=> 'back' %>
  <h1><%= @event.name %></h1>
<% end %>

<% if can? :manage, @event %>
  <div data-role="controlgroup" data-type="horizontal" >  
    <%= link_to 'Editar', edit_event_path(@event), 'data-role'=>'button' %>
    <%= link_to 'Eliminar', event_path(@event), 'data-role'=>'button', method: :delete, confirm: 'Are you sure?' %>
  </div>
<% end %>

<% unless @event.starting_at.nil? %>
  <div data-role="collapsible" data-collapsed="false">
     <h3>Cuando y Donde</h3>
     <p>Cuando: <%= @event.starting_at.strftime('%d/%m/%Y de %H:%M') + ' a '+ @event.ending_at.strftime('%H:%M')%></p>
     <p>Donde: <%= @event.where %></p>
  </div>
<% end %>

<div data-role="collapsible" data-collapsed="false">
  <h3>Descripción</h3>
  <p><%= @event.description %></p>
</div>

<div data-role="collapsible" data-collapsed="true">
   <h3>Ambientes</h3>
   <ul data-role="listview">
      <% @event.locations.each do |location| %>
        <li><%= location.name %></li>
      <% end %>
   </ul>
</div>