<%= content_for :header do %>
  <%= link_to "", menu_event_path(current_event), 'data-icon'=> 'back', 'data-iconpos'=>'notext' %>
  <h1>Información</h1>
  <% if can? :manage, @event %>
    <%= link_to 'Editar', edit_event_path(@event), 'data-role'=>'button', 'data-icon'=>'gear' %>
  <% end %>
<% end %>

<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">Datos del evento</li>
  <%= hidden_field(:event, :latitude) %>
  <%= hidden_field(:event, :longitude) %>
  <li>
    <h3><%= @event.name %></h3>
    <% unless @event.starting_at.nil? %>
      <p>Cuando: <%= @event.starting_at.strftime('%d/%m/%Y de %H:%M') + ' a '+ @event.ending_at.strftime('%H:%M')%></p>
      <p>Donde: <%= @event.where %></p>
    <% end %>
    <p>Website: <%= href_link(@event.website) %></p>
    <p>Twitter hashtag: <%= twitter_hashtag_search_link(@event.hashtag) %></p>
  </li>
  
  <li data-role="list-divider">Detalle del evento</li>
  <li><p><%= @event.description %></p></li>

  <li data-role="list-divider">Ambientes</li>
    <% @event.locations.each do |location| %>
    	<li><%= location.name %></li>
    <% end %>
</ul>