<%= content_for :header do %>
  <%= link_to "", menu_event_path(current_event), 'data-icon'=> 'back', 'data-iconpos'=>'notext' %>
  <h1>Votación</h1>
<% end %>

<% if @sessions.empty? %>
  No hay sesiones propuestas.
<% else %>
  <ul data-role="listview" data-inset="true" data-filter="true" data-count-theme="b">
  <% @sessions.each do |session| %>
    <li>
      <%= link_to session.title, event_session_votes_path(current_event, session), :method => :post %>
      <span id="<%= session.id %>" class="ui-li-count">Votos: <%= session.votes_count %></span>
    </li>
  <% end %>
  </ul>
<% end %>