<%= content_for :header do %>
  <%= link_to "Agenda", event_agenda_index_path(current_event), 'data-icon'=> 'back', 'data-iconpos'=>'notext' %>
  <h1>Detalle de agenda</h1>
<% end %>

<%= link_to "Nuevo slot", new_event_slot_path(current_event), 'data-role'=> 'button' if can? :create, Slot %>

<ul data-role="listview" data-inset="true">
  <li data-role="list-divider"><%= @agenda.starts_ends_title %></li>
  <% @agenda.slots.each do |slot| %>
    <li>
        <%= link_to slot.description, edit_event_slot_path(current_event, slot) %>
    </li>    
  <% end %>
</ul>