<%= content_for :header do %>
  <%= link_to "Agenda", agenda_event_path(current_event), 'data-icon'=> 'back' %>
  <h1>Detalle de agenda</h1>
<% end %>

<ul data-role="listview" data-inset="true">
  <li data-role="list-divider"><%= @agenda.starts_ends_title %></li>
  <% @agenda.slots.each do |slot| %>
    <li><%= link_to slot.description, nil %><%= link_to "Editar", edit_event_slot_path(current_event, slot), "data-icon"=>"gear" if can? :edit, Slot %></li>    
  <% end %>
</ul>