<%= content_for :header do %>
  <%= link_to "Agenda", event_agenda_index_path(current_event), 'data-icon'=> 'back' %>
  <h1>Detalle de agenda</h1>
<% end %>

<ul data-role="listview" data-inset="true">
  <li data-role="list-divider"><%= @agenda.starts_ends_title %></li>
  <% @agenda.slots.each do |slot| %>
    <li>
        <h3><%= slot.location.name %></h3>
        <p><%= slot.session.title unless slot.session.nil? %></p>
    </li>    
  <% end %>
</ul>