<%= content_for :header do %>
  <%= link_to "Agenda", event_agenda_index_path(current_event), 'data-icon'=> 'back', 'data-iconpos'=>'notext' %>
  <h1>Detalle de agenda</h1>
  <%= link_to "Editar", edit_event_agenda_path(current_event, @agenda) if can? :edit, Agenda %>
<% end %>

<div data-role="controlgroup" data-type="horizontal" data-mini="true">
  <%= link_to "Nuevo slot", new_event_slot_path(current_event), 'data-role'=> 'button' if can? :create, Slot %>
</div>

<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">
    <%= @agenda.title %>
    <p class="ui-li-aside"><%= @agenda.starts_ends %></p>
  </li>
    <% if @agenda.slots.empty? %>
      <li>No hay slots programados</li>
    <% else %>
    <% @agenda.slots.each do |slot| %>
      <li>
          <% if can? :manage, Slot %>
            <%= link_to slot.description, edit_event_slot_path(current_event, slot) %>
          <% else %>
            <%= link_to slot.description, event_slot_path(current_event, slot) %>
          <% end %> 
      </li>
    <% end %>
  <% end %>
</ul>