<%= content_for :header do %>
  <h1>Open Spaces</h1>
<% end %>

<div data-role="controlgroup" data-type="horizontal" data-mini="true">
  <% unless current_user %>
    <%= link_to "Facebook login", "/auth/facebook", 'data-role'=>'button', :rel => 'external' %>
    <%= link_to "Twitter login", "/auth/twitter", 'data-role'=>'button', :rel => 'external'  %> 
  <% end %>
  <% if current_user %>
    <%= link_to "Logout", signout_path, 'data-role'=> 'button' %>
  <% end %>
</div>

<% if current_user and current_user.admin? %>
  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Administración</li>
    <li><%= link_to "Eventos", events_path %></li>
    <li><%= link_to "Usuarios", users_path %></li>
  </ul>
<% end %>

<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">Eventos</li>
  <% @events.each do |event| %>
  	<li>
  	  <%= link_to event.name, menu_event_path(event) %>
  	</li>
  <% end %>
</ul>



<%= content_for :footer do %>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
  		<ul>
  			<li><%= link_to "Sobre los Open Space", openspace_path, "data-icon"=>"star" %></li>
  			<li><%= link_to "Acerca de", about_path, "data-icon"=>"info" %></li>
  		</ul>
  	</div>
	</div>
<% end %>