<%= form_for [current_event, @location] do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><%= f.text_field :name %>

  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><%= f.submit 'Guardar', 'data-theme'=>'b' %></div>
    <div class="ui-block-b"><%= link_to 'Cancelar', edit_event_path(current_event), 'data-role'=>'button' %></div>
  </fieldset>

<% end %>
