<%= content_for :header do %>
 <%= link_to "Evento", event_path(current_event), 'data-icon'=> 'back', 'data-direction'=> 'reverse' %>
 <h1>Ambiente</h1>
 <%= link_to "Editar", edit_location_path(@location), "data-icon"=>"gear" %>
<% end %>

<ul data-role="listview" data-inset="true">
  <li data-role="list-divider">Datos del ambiente</li>
  <li><p>
    Nombre: <%= @location.name %><br/>
    Descripción: <%= @location.description %><br />
  </p></li>
</ul>